<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Tomorrow:wght@500;600&family=Inter:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width; initial-scale = 1; maximum-scale=1; user-scalable = no;"
    />

    <title>Mototech Multibrand Customisation and Service Centre</title>
    <meta
      name="description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />

    <title itemprop="name">
      Mototech Multibrand Customisation and Service Centre
    </title>
    <meta property="og:type" content="object" />
    <meta
      property="og:title"
      content="Mototech Multibrand Customisation and Service Centre"
    />
    <!-- <meta property="og:url" content="https://sphericalk.at"> -->
    <meta
      property="og:description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />
    <meta property="og:image" content="/src/favicon.svg" />
    <meta
      name="twitter:title"
      content="Mototech Multibrand Customisation and Service Centre"
    />
    <meta
      itemprop="name"
      content="Mototech Multibrand Customisation and Service Centre"
    />
    <meta
      name="application-name"
      content="Mototech Multibrand Customisation and Service Centre"
    />
    <meta
      property="og:site_name"
      content="Mototech Multibrand Customisation and Service Centre"
    />

    <meta name="theme-color" content="#FE4D01" />

    <meta
      name="description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />
    <meta
      itemprop="description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />
    <meta
      property="og:description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />
    <meta
      name="twitter:description"
      content="A one of its kind, fully automated, two-wheeler customisation and service centre, powered by highly skilled, certified factory-trained mechanics."
    />

    <!-- TODO: ADD -->
    <!-- <link rel="canonical" href="<%- permalink %>" itemprop="url" />
	<meta name="url" content="<%- permalink %>" />
	<meta name="twitter:url" content="<%- permalink %>" />
	<meta property="og:url" content="<%- permalink %>" /> -->

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <meta property="og:locale" content="en" />
    <meta name="language" content="en" />

    <meta
      name="twitter:site"
      content="Mototech Multibrand Customisation and Service Centre"
    />
    <meta name="twitter:creator" content="Amogh Lele" />

    <meta
      name="keywords"
      content="motorbike,motorbikes,bike,bikes,motor,motors,service center,service centers,service,services,automated,skilled,customisation,customization"
    />
    <meta name="imagemode" content="force" />
    <meta name="coverage" content="Worldwide" />
    <meta name="distribution" content="Global" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-title" content="TITLE" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-touch-fullscreen" content="yes" />
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
