@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-tomorrow {
    font-family: "Tomorrow", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }
}

#root {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
	overflow: overlay;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  @apply bg-burnt-orange;
}
